body {
  margin: 0;
}

#outer_container {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  background-position: center;
  background-size: cover;
  padding: 20px;
}

#main_container {
  text-align: center;
  height: 140px;
  width: 100%;
}

.large_btn {
  display: inline-block;

  margin: 20px;
  width: 100px;
  height: 100px;

  line-height: 100px;

  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid #ccc;
  border-radius: 10px;
     
  font-family: sans-serif;
  color: #eee;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  float: left;
}
  
.large_btn:hover {
  background-color: rgba(20, 20, 20, 0.8);
  box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.3);
}

#create_btn {
  opacity: 0;
  font-size: 60px;
}

#create_btn:hover{
  opacity: 1;
}
    
